
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


a {text-decoration: none; color: inherit;}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;}

p, a, li {
    font-size: 1.6rem;}

:root {
--background: #1d5588;
--p: #f0f8ff;
}

/* HEADER */

.navbar {background: var(--background);
}
.navbar-collapse{
    text-align: right;}

#buscador{margin-top: 10px;}

#menu a{color: white;}
#navbarNavAltMarkup{justify-content: right;}


/* header{
background:var(--background);
display: grid;
grid-template-columns: 100%;
grid-template-rows: 50px;
}


header .LOGO{
font-size: 40px;
text-align: left;
color: var(--p);
margin-left: 1rem;

}

header nav ul{
    list-style-type: none; 
    color: var(--p); 
    text-align: right;
    margin-right: 5px;
}

header nav ul li {
    display: inline-block;
    padding: .2rem;
    margin-right: .2rem;
} */



/* MAIN INDEX */ 

h3 {
color: var(--background); 
padding: 1rem; 
font-size: 20px;

}

/* .img-container {
    width: 100vw;
    margin-left: 3.5rem;
    margin-top: 3rem;
    margin-bottom: 26rem;
    display: grid;
    grid-template-columns:repeat(auto-fill, 300px);
    justify-content:space-evenly; 
    row-gap: 1rem;
}

.img-container img {
    width: 100%;
    padding: 1rem;
    display:inline-block;  
} */

.carousel-inner{max-height: 49rem;
margin-bottom: 5rem;}




/* .carousel-inner {margin-top: 10px;}

.carousel-inner img {height: 80vh;} */


/* MAIN EXPLORAR  */

.container-video-expl {width:100%}

.container-video-expl iframe{width: 100%;
    margin-left: 2rem;
    padding: 1rem;
}

main .lista-paisajes{
        margin-left:2rem;
        padding: 1rem;
        list-style-type: none;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30px 30px 30px 30px 30px 30px;
    }
    

main .lista-paisajes li{
        padding-bottom: 1rem;
    }


/* MAIN ACTIVIDADES */

main .lista-actividades{
    margin-left:2rem;
    padding: 1rem;
    list-style-type: none;}

main .lista-actividades li{
    padding-bottom: 1rem;
}


/* MAIN VIAJES */

main .titulo-viajes {padding: 1rem;}
.img-viajes {width: 100%;}

.article-viajes .t-article-viajes {
    color: #1d5588;
    margin-left:2rem;
    padding: 1rem;
    
}
.article-viajes .p-article-viajes {margin-left: 4rem;
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

main .lista-viajes{
    margin:2rem;
    padding: 1rem;
    list-style-type: none;  
}

main .lista-viajes li{
    padding-bottom: 1rem;
}



/* MAIN CONOCENOS */

.article-conocenos div h3 {
    padding: 1rem;
}

.article-conocenos div p {
margin-left: 2rem;
padding: 1rem;
padding-bottom: 20rem;
}


/* MAIN INICIA SESION */

.form-IS{margin-left: 2rem;
    padding: 1rem;}
    
    .form-IS .usuario {
        padding-bottom: 1rem;
        font-size: 1.4rem;
    }
    
    .form-IS .usuario input{padding: 0.5rem;
        margin-left: 2.9rem;
        width: 18rem;
        border-radius: 5px;
    }
    
    .form-IS .contraseña{
        padding-bottom: 2rem;
        font-size: 1.4rem;
    }
    
    .form-IS .contraseña input{padding: 0.5rem;
    margin-left: 0.5rem;
    width: 18rem;
    border-radius: 5px;
    }
    
    .h4-IS h4{
        padding-bottom: 1.5rem;
        font-size: 1.2rem;
    }
    
    div .boton {
    margin-top: 1rem;
    padding: 0.5rem;
    color: white;
    width: 18rem;
    border-radius: 5px;
    }
    
    div .bgoogle{
        background-color: rgb(199, 41, 41);
    }
    .bfacebook{
        background-color: rgb(11, 11, 226);
        
    }
    .bapple{
        background-color: rgb(23, 23, 23);
    }
    .biniciar{
        background-color: #1d5588;
        margin-bottom: 13rem;
    }


/* FOOTER */

footer {
    background-color: var(--background);
    min-height: 100px;}

footer p{
    color: white;
    text-align: center;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: white;
}


/* footer {
    background-color: var(--background);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 140px;} */

/* footer ul li{
    margin: 5px;
    padding: .5rem;
    color: var(--p);
    text-align: left;
    list-style-type: none;
}
 */