
*   {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    a {text-decoration: none; color: inherit;}

    html {
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;}
        
        p, a, li {
            font-size: 1.6rem;}
            
    :root {
        --p: #f0f8ff;
        --background: #1d5588;
}

/* HEADER */

.navbar {
    background: #1d5588;
}
.container-fluid {
    align-items: flex-end !important;
    margin-top: 4px;
    margin-bottom: 4px;
    
}
.navbar-collapse{
    text-align: right;}

.navbar-nav {
    align-items: flex-end;
}

#menu a{color: white;}
#navbarNavAltMarkup{justify-content: right;}

#logo {
    height: 80px;
    margin: 1px 1px 1px 1px;
}



/* MAIN INDEX */ 

    h3 {
    color: var(--background); 
    padding: 1rem; 
    font-size: 20px;

    }

 


    .carousel-inner{
    max-height: 49rem;
    margin-bottom: 5rem;
    img{
        min-width: 700px;
    }
    }

    #titulo-Recorre-norte-arg{
        text-align: center;
        margin-bottom: 5px;
    }

    #container-arg{
    display: flex;
    height: 100vh;
    margin: 2rem;
    padding: 40px;
    max-height: 580px;
    border: 5px;
    img{
        height: 500px;
        align-items:flex-end;
    }
    }

    .container{
        margin-bottom: 10rem;
        
    }
    .card-body{
        height: 200px;
    }



/* MAIN EXPLORAR  */

    .container-video-expl {width:100%}

    .container-video-expl iframe{width: 100%;
    margin-left: 2rem;
    padding: 1rem;
    }

    main .lista-paisajes{
        margin-left:2rem;
        padding: 1rem;
        list-style-type: none;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30px 30px 30px 30px 30px 30px;
    }
    

    main .lista-paisajes li{
            padding-bottom: 1rem;
        }


    /* MAIN ACTIVIDADES */

    main .lista-actividades{
        margin-left:2rem;
        padding: 1rem;
        list-style-type: none;}

    main .lista-actividades li{
        padding-bottom: 1rem;
    }


/* MAIN VIAJES */

    main .titulo-viajes {padding: 1rem;}
    .img-viajes {width: 100%;}

    .article-viajes .t-article-viajes {
        color: #1d5588;
        margin-left:2rem;
        padding: 1rem;
        
    }
    .article-viajes .p-article-viajes {margin-left: 4rem;
        font-size: 1.6rem;
        padding-bottom: 2rem;
    }

    main .lista-viajes{
        margin:2rem;
        padding: 1rem;
        list-style-type: none;  
    }

    main .lista-viajes li{
        padding-bottom: 1rem;
    }



    /* MAIN CONOCENOS */

    .article-conocenos div h3 {
        padding: 1rem;
    }

    .article-conocenos div p {
    margin-left: 2rem;
    padding: 1rem;
    padding-bottom: 20rem;
    }


/* MAIN INICIA SESION */

    .form-IS{margin-left: 2rem;
    padding: 1rem;}
    
    .form-IS .usuario {
        padding-bottom: 1rem;
        font-size: 1.4rem;
    }
    
    .form-IS .usuario input{padding: 0.5rem;
        margin-left: 2.9rem;
        width: 18rem;
        border-radius: 5px;
    }
    
    .form-IS .contraseña{
        padding-bottom: 2rem;
        font-size: 1.4rem;
    }
    
    .form-IS .contraseña input{padding: 0.5rem;
    margin-left: 0.5rem;
    width: 18rem;
    border-radius: 5px;
    }
    
    .h4-IS h4{
        padding-bottom: 1.5rem;
        font-size: 1.2rem;
    }
    
    div .boton {
    margin-top: 1rem;
    padding: 0.5rem;
    color: white;
    width: 18rem;
    border-radius: 5px;
    }
    
    div .bgoogle{
        background-color: rgb(199, 41, 41);
    }
    .bfacebook{
        background-color: rgb(11, 11, 226);
        
    }
    .bapple{
        background-color: rgb(23, 23, 23);
    }
    .biniciar{
        background-color: #1d5588;
        margin-bottom: 13rem;
    }
 
    /* FOOTER */

    footer {
        background-color: var(--background);
        min-height: 100px;}
    
        footer p{
            color: white;
            text-align: center;
        }
    
        #iconos i{
            font-size: 26px;
            padding: 0 8px;
            color: white;
        }